body {
  background-color: black;
  height: 100%;
}



.CreateArtist {

  margin-top: 250px;
  margin-bottom: 20px;
  padding-top: 0;
  text-align: center;
  align-items: center;

}

.Header{
  display: flex;
  align-items: center;
  gap: 66%;
  height: 100px;
  padding: 20px;
  font-size: 12px
}

.Inputs {
  color: darkred;
  border-color: darkred;
  background-color: black;
}

.Submit {
  color: darkred;
  border-color: darkred;
  background-color: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkred;
 
}

.Connect {
  background-color: yellowgreen;
  border-color: darkred;
  color: darkred;
  padding: 5px;
  font-size: 16px;
  height: 35px
}

.TitlePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.ArtistProfile {
  background-color: white;
}
