body {
  background-color: black;
  background-size: cover;
  max-height: 100%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;

}

/*Shared*/



/*Link*/

.Link {
  color: #eaeaea;
  font-size: 20px;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
}

/*Text*/

.Text {
  color:#eaeaea;
  font-size: 20px;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
}



/*Title Page*/

.TitlePage {
  display: flex;
  flex-direction: column;
  gap: 0%;
  margin-top: 200px;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.Music-Pay-Title {
  color: #eaeaea;
  font-size: 80px;
  font-weight: lighter;
}

.Route {
  display: flex;
  gap: 30px;
}



.Align-Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.CreateArtist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 20%;
  height: 15%;
  margin: auto;
  margin-top: 12%;
  top: 40%;
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  align-items: center;
  border-style: solid;
  border-color: #eaeaea;
  border-radius: 10px;

}

.SearchBar {
  transform: scale(1.28);
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: black;
  border-radius: 5px;
  position: relative;
  left: 27%;
}

.SearchBar::-webkit-input-placeholder {
  font-size: 15px;
}

.Inputs {
  transform: scale(1.25);
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: black;
  
}

.Submit {
  transform: scale(1.25);
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: transparent;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eaeaea;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  font-weight: bold;
 
}

.Connect {
  background-color: black;
  border-color: #eaeaea;
  color: #eaeaea;
  padding: 5px;
  font-size: 16px;
  height: 35px;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
}




.ArtistProfile {
  margin: auto;

  width: auto;
  padding: 20px;

}

.ArtistName {
  color: #eaeaea;
  text-align: center;
  font-size: 40px;
  position: absolute;
  right: 20px;
}



.Addresses {
  margin-bottom: 2px;
  margin-top: 5px;
}

.LoadingScreen {
  text-align: center;
  margin-top: 300px;
  color:#eaeaea
}

.HeaderText {
  color:#eaeaea;
  margin-bottom: 0;
  margin-top: 0;
}

.BookArtist {
  width: 250px;
  margin-left: 83%;
  margin-top: 5px;
}



.Back {
  transform: scale(1.5);
  margin-left: 28px;
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: transparent;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
}


.ArtistBooking {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ArtistBookingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding: 20px;
  
}

.ArtistBookingHeader h1 {
  margin-bottom: 5px;
  font-size: 60px;
}

.ArtistBookingHeader h5 {
  margin-top: 5px;
}

.BookingForm {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 150px;
  align-items: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.BookingForm input {
  margin: 10px;
  transform: scale(1.25);
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: black;
}

.SubmitBooking {
  width: 200px;
  left: 41%;
  top: 55%;
  text-align: center;
  transform: scale(1.25);
  
}

.SubmitBooking button {
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: transparent;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
}

.AboutMe {
  color: #eaeaea;
  width: 300px;
  height: 600px;
  text-align: left;
  align-items: center;
  gap: 20px;
}

.AboutMeBox {
  width: 300px;
  height: 400px;
  padding: 5px;
}

.UpdateAboutMe {
  width: 60px;
  transform: scale(1.25);
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: black;
  position: absolute;
  top: 10%;
  right: 2%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  cursor: pointer;
}

.AboutMeUpdate {
  background-color: black;
  color: #eaeaea;
  width: 300px;
  height: 600px;
  text-align: left;
  position: absolute;
  top: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  
}

.AboutMeUpDateBox ::-webkit-input-placeholder {
  font-size: 16px;
}

.AboutMeUpdateBox {
  background-color: black;
  border-width: 2.4px;
  width: 300px;
  height: 400px;
  border-style: solid;
  border-color: #eaeaea;
  color: #eaeaea;
  padding: 5px;
  resize: none;
  font-size: 16px;
}

.AboutMeUpdate button {
  width: 60px;
  transform: scale(1.25);
  color: #eaeaea;
  border-color: #eaeaea;
  background-color: black;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
}

/*Header*/

.Header {
  color:#eaeaea;
  display: flex;
  align-items: center;
  gap: 20%;
  width: 100%;
  height: 80px;
  border-bottom: solid;
  border-color: #eaeaea;
  top: 0;
}

.Home {
  color: #eaeaea;
  font-size: 20px;
  position: absolute;
  left: 2%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
}

.Login {
  color: #eaeaea;
  font-size: 20px;
  position:absolute;
  right: 2%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
}

.About {
  color: #eaeaea;
  font-size: 20px;
  position: absolute;
  left: 12%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
}

.Create {
  color: #eaeaea;
  font-size: 20px;
  position: absolute;
  left: 22%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
}

.Search {
  color: #eaeaea;
  font-size: 20px;
  position: absolute;
  left: 22%;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
  cursor: pointer;
}
