#root {
  height: 100vh;
  overflow: hidden;
 
}

html{
  height: 100%;
  overflow: hidden;
  
}

body {
  background-color: black;
  background-size: cover;
  max-height: 100%;
  font-family: "Clarkson",Helvetica,sans-serif;
  letter-spacing: 1px;
  
}


/*Shared*/

/*Link*/

.Link {
  color: #eaeaea;
  font-size: 20px;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
}

/*Text*/

.Text {
  color:#eaeaea;
  font-size: 16px;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  font-weight: lighter;
}

/*Input Fields*/

.Input {
  transform: scale(1.25);
  color: #eaeaea;
  background-color: black;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;  
}

.Input:focus {
  outline: none;
}

.Input::-webkit-input-placeholder {
  color: white;
  opacity: 0.6;
}

.UploadProfilePic::-webkit-file-upload-button {
  width: 100%;
  color: white;
  opacity: 0.8;
  background-color: black;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  font-family: "Clarkson",Helvetica,sans-serif;
  padding: 12px;
  cursor: pointer;
  
}

/*Buttons*/

.Submit {
  color: white;
  opacity: 0.8;
  background-color: black;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  font-family: "Clarkson",Helvetica,sans-serif;
  padding: 12px;
  cursor: pointer;
}

.Loading:after {
  content: '.';
  animation: dots 1.5s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}




/*Title Page*/

.TitlePage {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-top: 15%;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
  overflow: hidden;
}

.Music-Pay-Title {
  color: #eaeaea;
  font-size: 120px;
  font-weight: lighter;
  margin: 0;

}

.Route {
  display: flex;
  gap: 50px;
}


.CreateOrLogInArtist {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  margin:auto;
  /* margin-top: 12%; */
  width: 25%;
  height: 20%;
  padding-bottom: 7%;
  text-align: center;
  align-items: center;
}

.CreateOrLogInArtist h2 {
  font-size: 25px;
  margin-bottom: 0;
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #eaeaea;
  font-family: "Clarkson",Helvetica,sans-serif;
  font-weight: lighter;
  
 
}

.Connect {
  color: white;
  background-color: black;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  opacity: 0.8;
  font-size: 12px;
  cursor: pointer;
  border-style: solid;
  border-color: grey;
  padding: 12px;
  border-radius: 10px;
}

/*LoadingAndError*/

.LoadingScreen {
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#eaeaea
}

.HomeNotOwner {
  color: #eaeaea;
  font-size: 20px;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
}


.HeaderText {
  color:#eaeaea;
  margin-bottom: 0;
  margin-top: 0;
}

/*Booking*/

.ArtistPage {
  height: 70%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.BookArtist {
  width: 250px;
  margin-left: 83%;
  margin-top: 5px;
}

.ArtistBooking {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ArtistBookingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  padding: 20px;
  
}

.ArtistBookingHeader h1 {
  margin-bottom: 5px;
  font-size: 60px;
}


.ArtistNameBooking {
  color: #eaeaea;
  text-align: center;
  margin: 0;
}

.BookingForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 150px;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.BookingForm input {
  margin: 10px;
  transform: scale(1.1);
  width: 100%;
}

.BookingForm input::-webkit-input-placeholder {
  font-weight: lighter;
  font-size: 14px;
  
}

.SubmitBooking {
  color: white;
  opacity: 0.8;
  background-color: black;
  width: 113%;
  height: 30%;
  font-size: 12px;
  font-family: "Clarkson",Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  padding: 10px;
}

.BookingsList {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 100px;
}

.Bookings{
  height: 100%;
  width: 100%;
  color:#eaeaea;
  border-style: dotted;
  border-right: hidden;
  border-left: hidden;
  border-top: hidden;
  border-width: 1px;
  border-color: grey;
  padding-left: 0;
  padding-right: 0;

}

.BookingsDiv {
  display: flex; 
  justify-content: space-between;
  text-align: center;
  gap: 100px;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.BookingComplete {
  text-align: center;
  width: 60%;
  height: 35%;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 20%;
}

/*Profile*/

.ArtistMain {
  height: 100%;
  text-align: center;
  margin-top: 280px;
}

.ArtistMain h3 {
  color:#eaeaea;
  font-size: 80px;
  font-family: "Clarkson",Helvetica,sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}

.ProfilePage {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding-right: 20px;
  padding-left: 20px;
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.AboutMeBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  height: 401px;
  text-align: center;
}

.AboutMeBox h4 {
  margin-top: 2px;
  font-weight: lighter;
}



.AboutMeUpdate {
  background-color: black;
  color: #eaeaea;
  width: 400px;
  height: 400px;
  text-align: left;
  
}

.AboutMeUpDateBox ::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: lighter;
}

.AboutMeUpdateBox {
  background-color: black;
  width: 400px;
  height: 400px;
  color: #eaeaea;
  padding: 5px;
  resize: none;
  font-size: 16px;
  outline: none;
  border: none;
  font-family: "Clarkson",Helvetica,sans-serif;
  letter-spacing: 1px;
  font-weight: normal;

}

.AboutMeUpdate button {
  width: 60px;
  transform: scale(1.25);
  color: #eaeaea;
  background-color: black;
  font-family: "Clarkson",Helvetica,sans-serif;
}

/*Header*/

.Header {
  background-color: black;
  color:#eaeaea;
  display: flex;
  align-items: center;
  gap: 20%;
  width: 100%;
  height: 80px;
  top: 0;
  position: sticky;
}

.HeaderMobile {
  display: none;
}

.HeaderMenu {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  gap: 15%;
}

.Home {
  position: absolute;
  left: 2%;
  color: #eaeaea;
  font-size: 45px;
  font-family: Monaco, "Ubuntu Mono", Terminal, monospace;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
}

.HeaderMenuTitle {
  color: #eaeaea;
  font-size: 18px;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
  margin: 0;
}

.Login {
  color: #eaeaea;
  font-size: 15px;
  position:absolute;
  right: 2%;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.Logout {
  color: #eaeaea;
  font-size: 14px;
  position:absolute;
  right: 1%;
  bottom: 2%;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.ActiveEscrows {
  color: #eaeaea;
  font-size: 18px;
  position: absolute;
  left: 22%;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
}

.HeaderMenuTitle:hover,
.Login:hover,
.Logout:hover,
.ActiveEscrows:hover,
.Link:hover {
  opacity: 0.5;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
  border-bottom-width: 1.5px;
  padding-bottom: 2px;
}

.ArtistName {
  color: #eaeaea;
  text-align: center;
  font-size: 40px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

/* Booking*/

.BookingMain {
  height: 100%;
  text-align: center;
  margin-top: 280px;
}

.BookingMain h3 {
  color:#eaeaea;
  font-size: 80px;
  font-family: "Clarkson",Helvetica,sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}
/*Search*/

.Search {
  position: absolute;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.SearchText {
  color: #eaeaea;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.SearchBar {
  height: 25px;
  color: #eaeaea;
  font-size: 16px;
  border-color: grey;
  border-radius: 10px;
  border-style: solid;
  background-color: black;

  padding: 2px;
  padding-left: 10px;
  background-image: url("./Icons/magnifying-glass.png");
  background-repeat: no-repeat;
  background-position: 95% ;
}

.SearchBar:focus {
  outline: none;
}

.SearchBar::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: lighter;
  position: absolute;
  bottom: 5px;
}

.EscrowMain {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.EscrowMain button {
  width: 20%;
}

.EscrowMainDiv {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  gap: 15%;
  align-items: center;
  margin-bottom: 1%;
  border-bottom: #eaeaea;
  border-style: dotted;
  border-color: grey;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-width: 1px;
  padding-bottom: 1%;
}

.Escrow {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color:#eaeaea;
  border-style: dotted;
  border-right: hidden;
  border-left: hidden;
  border-top: hidden;
  border-width: 1px;
  border-color: grey;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.EscrowList {
  text-align: center;
  padding: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.EscrowListDiv {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

