@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

/* Title and Routing pages */

.TitlePage {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  height: 70%;
  overflow: hidden;
}

.Music-Pay-Title {
  color: #eaeaea;
  font-size: 65px;
  font-weight: lighter;
  margin-bottom: 30%;
}

.Connect {
  color: white;
  background-color: black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  opacity: 0.8;
  font-size: 12px;
  cursor: pointer;
  border-style: solid;
  border-color: grey;
  padding: 12px;
  border-radius: 10px;
}

.Route {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  justify-content: center;
}

/* Artist Main and Profile*/

.ArtistMain {
  height: 100%;
  text-align: center;
  margin-top: 45%;
}

.ArtistMain h3 {
  color:#eaeaea;
  font-size: 50px;
  font-family: "Clarkson",Helvetica,sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}

.Header {
  display: none;
}

.HeaderMobile {
  background-color: black;
  color:#eaeaea;
  display: flex;
  align-items: center;
  gap: 20%;
  width: 100%;
  height: 80px;
  /* border-bottom: solid;
  border-color: #eaeaea; */
  top: 0;
  position: sticky;
}

.IconWrapper {
  background-color: #282828;
  position: absolute;
  left: 5%;
  width: 12%;
  height: 52%;
  border-radius: 50px;
}

.DropdownIcon {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  margin: auto;
}

.ArtistDropdownMenu {
  background-color: black;
  position: absolute;
  top: 80px;
  height: 500%;
  width: 100%;
  display: block;
  text-align: left;
}

.DropdownItem {
  background-color: black;
  width: 100%;
  height: 5%;
  color: #eaeaea;
  font-size: 25px;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 10%;
} 

.HomeHeaderMobile {
  color: #eaeaea;
  font-size: 18px;
  border-bottom: solid;
  border-color: #eaeaea;
}

.AboutMobile {
  font-weight: lighter;
  margin: 0;
}

.CreateMobile {
  font-weight: lighter;
  margin: 0;
}

.UpdateAboutMeMobile {
  color: #eaeaea;
  font-size: 25px;
  text-decoration: none;
  font-weight: lighter;
  margin: 0;
}

.DisplayBookingsMobile {
  color: #eaeaea;
  font-size: 25px;
  text-decoration: none;
  font-weight: lighter;
  margin: 0;
}

.CreateOrLogInArtist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin:auto;
  margin-top: 40%;
  width: 70%;
  height: 20%;
  top: 40%;
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  align-items: center;
}

.CreateOrLogInArtist h2 {
  font-size: 40px;
  margin-bottom: 0;
}

.LoginMobile {
  color: #eaeaea;
  font-size: 15px;
  position:absolute;
  right: 5%;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.Logout {
  color: #eaeaea;
  font-size: 14px;
  position:absolute;
  right: 3%;
  bottom: 2%;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
  cursor: pointer;
}

/*Booking Main and Profile*/

.BookingMain {
  height: 100%;
  text-align: center;
  margin-top: 45%;
}

.BookingMain h3 {
  color:#eaeaea;
  font-size: 50px;
  font-family: "Clarkson",Helvetica,sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
}

.BookingDropdownMenu {
  background-color: black;
  border-style: solid;
  border-color: #eaeaea;
  position: absolute;
  left: 5%;
  top: 40%;
  height: 300%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
 
}

.ActiveEscrowsMobile {
  color: #eaeaea;
  font-size: 18px;
  font-family: "Clarkson",Helvetica,sans-serif;
  text-decoration: none;
}




}